Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /snijesh/gitnew/PunyaSnijesh.github.io/

ErrorDocument 404 /notfound.php

RewriteRule ^variant-calling$ variant-calling.html


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php